module-container
{
  display: grid;
  row-gap: 1mm;

  font-size: 0.9em;
}

module-title
{
  font-weight: 500;
}

module-subtitle
{
  font-weight: 400;
  color: #666;
}

module-list
{
  margin: 0 0 1mm;
}

module-item
{
  margin: 1mm 0;
}