.container
{
  display: grid;
  row-gap: 1.2mm;

  // grid-template-columns: repeat(3, auto);

  // display: flex;

  // flex-direction: row;
  // flex-wrap: nowrap;

  // align-items: center;
  // justify-content: flex-start;

  // display: grid;
  // grid-template-columns: repeat(3, 5cm);

  // gap: 4mm;

  font-size: 0.8em;
}