.container
{
  // background-color: #f5f5fa;
  // background-color: #ccccd2;
  // background-color: #030712;
  // background-color: black;
  padding: 9mm 1cm 6.5mm;

  display: grid;

  grid-template-columns: 1in auto;
  column-gap: 1cm;
}

.avatar
{
  width: 1in;
  height: 1in;

  border-radius: 1cm;
}

.info
{
  display: grid;
  row-gap: 3mm;

  align-items: flex-start;
}

.headline
{
  display: grid;
  // row-gap: 1mm;
}

.contacts
{
  display: grid;
  grid-template-columns: 6cm auto;
}

.title
{
  // color: white;
  font-weight: 700;
  font-size: 1.75em;
}

.subtitle
{
  color: #6b7282;
  // color: #9aa1af;
  font-weight: 400;
  font-size: 1em;
}

@media screen
{
  .container
  {
    border-top-left-radius: 1mm;
    border-top-right-radius: 1mm;
  }
}